@charset "utf-8";
/* CSS Document */

body {
	margin: auto;
	text-align: center;
	background: #e8eced;
}

p {
	text-align: justify;
}

html {
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 32px;
}

.main-image {
	border-radius: 50%;
	border: 5px solid #386FA4;
	background: #386FA4;
}

.logo {
  width: 122px;
  position: absolute;
  margin-top: 175px;
  margin-left: 185px;
  z-index: 2;
  background: white;
}

#f1_container {
  position: relative;
  width: 310px;
  height: 310px;
  z-index: 1;
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-ms-perspective: 1000;
	perspective: 1000;
}

#f1_card {
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}

#f1_container:hover #f1_card {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform:rotateY(180deg);
	transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
}

.face {
  position: absolute;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-ms-backface-visibility: hidden;
}

.face.back {
  display: block;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform:rotateY(180deg);
	transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
  color: white;
  text-align: center;
}

.centered {
  width: 260px;
	height: 260px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 25px;
  background: #386FA4;
}

.centered p {
  margin: 0;
  padding: 0;
	text-align: center;
}

.top {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #2A2D34;
	color: #FFFFFF;
	height: 75vh;
}

.sideA {
	width: 33%;
	display: flex;
	justify-content: center;
	align-items: center;
}

img {
	margin:0;
	padding:0;
}

header {
	margin-left:0;
}

nav {
    background: black;
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    color: white;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		/*height: 40px;*/
}

nav li {
		transition: all 0.2s linear;
    text-decoration: none;
		width:100%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 25px;
}

nav li:hover {
	background-color: #666;
}

nav ul {
		width: 80%;
    display: flex;
    list-style-type: none;
		padding: 0;
		margin: 0;
}

.title {
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 150px auto;
    line-height: normal;
}

/*.dropdown-content { display: none; visibility: hidden; position: absolute; background: black; width: 100%;}*/
/*.dropdown-content { visibility: hidden; position: absolute; background: black; width: 100%;}
.dropdown-content a:hover { background-color: #666; }
.dropdown:hover .dropdown-content { display: block; }
.dropdown { position: relative; display: inline-block; width: 100%; }*/

#stickyheader { width: 100%; z-index: 100}

.dropdown-content {
	top: 30px;
	display: none;
	position: absolute;
	background: black;
	width: 100%;}

.dropdown-content a:hover { background-color: #666; }
.dropdown-content a { font-size: 14px;}
/*.dropdown:hover .dropdown-content { display: block; }*/
.dropdown { position: relative;
	/*display: inline-block;*/
	width: 100%; }


.scrolldown {
    height: 100px;
    width: 100%;
    position: fixed;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.5s linear;
}

.scrolldown:hover {
	opacity: 0.5;
}

.scrollbutton {
    width: 75px;
    height: 75px;
    background: white;
    border-radius: 50%;
    opacity: 0.3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrollbutton img {
    width: 50px;
    height: 50px;
		padding-top: 5px;
}

.timeline-container {
    width: 80%;
    height: 200px;
    margin: 0px auto;
}

.timeline-item {
    height: 10px;
    background: green;
    margin: 1px;
}

.ra {
    width: 40%;
    margin-left: 20%;
}

.ta {
    width: 10%;
    margin-left: 30%;
}

.timeline {
    height: 5px;
    background: black;
    /* width: 90%;
    /* margin: 0px auto;*/
}

#main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

section {
	width: 90%;
	min-height: 80vh;
}

#mission {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;s
}
#mission p {
	width: 70%;
	font-size: 18px;
}


.project img {
	width: 300px;
	height: 200px;
}

.project {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	background: #2A2D34;
	margin: 50px 25px;
	color: white;
}

.subsection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 20px;
}

.project a {
	color: white;
}

.project h2, .project h4, .project h5, .project h6 {
	margin: 0;
	padding: 0;
}

.project h1 {
	font-size: 40px;
	margin: 15px;
}

.wrap {
    width: 320px;
    height: 192px;
    padding: 0;
    overflow: hidden;
}

.frame {
    width: 1280px;
    height: 786px;
    border: 0;

    -ms-transform: scale(0.25);
    -moz-transform: scale(0.25);
    -o-transform: scale(0.25);
    -webkit-transform: scale(0.25);
    transform: scale(0.25);

    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

footer {
	background: black;
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  color: white;
}
.footer-links {
  height: 70px;
  width: 70px;
}

.footer-links {
  padding-left: 10px;
  padding-right: 10px;
  filter: invert(100%);
}

footer ul {
  display: flex;
  justify-content: center;
  align-content: center;
	list-style-type: none;
}

.project {
	flex-direction: column;
}
@media (min-width: 900px) {
	.project {
		flex-direction: row;
	}
}
