/*
---------------------------------------------------------------------------------
	STRIPPED DOWN RESUME TEMPLATE
    html resume

    v0.9: 5/28/09

    design and code by: thingsthatarebrown.com
                        (matt brown)
---------------------------------------------------------------------------------
*/


.msg { padding: 10px; background: #222; position: relative; }
.msg h1 { color: #fff;  }
.msg a { margin-left: 20px; background: #408814; color: white; padding: 4px 8px; text-decoration: none; }
.msg a:hover { background: #266400; }

/* //-- yui-grids style overrides -- */
body { font-family: Georgia; color: #444; margin-top: 25px;}
html { background: #2A2D34; }
#inner { padding: 10px 80px; background: #f5f5f5; /*border: solid #666; border-width: 8px 0 2px 0; */}
.yui-gf { margin-bottom: 1em; padding-bottom: 1em; border-bottom: 1px solid #ccc; }

/* //-- header, body, footer -- */
#hd { margin: 2.5em 0 2em 0; padding-bottom: 1.5em; border-bottom: 4px solid #666 }
#hd h2 { text-transform: uppercase; letter-spacing: 2px; }
#bd, #ft { margin-bottom: 0em; }

/* //-- footer -- */
#ft { padding: 1em 0 1em 0; font-size: 92%; border-top: 1px solid #ccc; text-align: center; }
#ft p { margin-bottom: 0; text-align: center;   }

/* //-- core typography and style -- */
#hd h1 { font-size: 48px; text-transform: uppercase; letter-spacing: 3px; }
h2 { font-size: 152% }
h3, h4 { font-size: 122%; }
h1, h2, h3, h4 { color: #333; }
p { font-size: 100%; line-height: 18px; padding-right: 3em; }
a { color: #374179; text-decoration: none}
a:hover { text-decoration: none; color: #7e85a8}
a:visited { color: #3b4266}
strong { font-weight: bold; }
li { line-height: 20px; /*border-bottom: 1px solid #ccc;*/ }
p.enlarge { font-size: 144%; padding-right: 6.5em; line-height: 24px; }
p.enlarge span { color: #000 }
.contact-info { margin-top: 7px; }
.first h2 { font-style: italic; }
.last { border-bottom: 0 }


/* //-- section styles -- */

a#pdf {
  float: left; background: #666; color: white; margin-bottom: 6px;
  text-decoration: none; width: 200px; height: 40px; font-size: 30px;
  display: flex; justify-content: center; align-items: center;
}
a#pdf:hover { background: #222; }

.job { position: relative; margin-bottom: 1em; padding-bottom: 1em; border-bottom: 1px solid #ccc; }
.job h4 { position: absolute; top: 0.35em; right: 0; white-space: nowrap;}
.job p, .project p { margin: 0.75em 0 0em 0; }

.project { position: relative; margin-bottom: 1em; padding-bottom: 1em; border-bottom: 1px solid #ccc; }
.project h4 { position: absolute; top: 0.35em; right: 0 }
.project p { margin: 0.75em 0 3em 0; }
.project li { border: none; padding-left: 15px;}
.project ul { margin: 0.75em 0 0 0;}
.project h3 { width: 85%; }

.last { border: none; padding-bottom: 0; margin-bottom: 0;}
.skills-list {  }
.skills-list ul { margin: 0; }
.skills-list li { text-align: center; margin: 3px 0; padding: 3px 0; }
.skills-list li span { font-size: 152%; display: block; margin-bottom: -2px; padding: 0 }
.talent { /*width: 25%;*/ display: flex; justify-content: space-between; padding-right: 2em;/*float: left*/ }
.talent h2 { margin-bottom: 6px; }
.talent li { padding-left: 1em;}
#srt-ttab { margin-bottom: 100px; text-align: center;  }
#srt-ttab img.last { margin-top: 20px }

/* --// override to force 1/8th width grids -- */
.yui-gf .yui-u{width:85%;}
.yui-gf div.first{width:12.3%;}


.printlinks { visibility: hidden; display: none }

@media print {
  #pdflink { visibility: hidden; display: none;  }

  .weblinks { visibility: hidden; display: none; }

  .printlinks { display: inherit; visibility: visible; color: darkgrey;}

  html { background: none;}
  body { margin: 0}
}
